@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
#__next,
.h-full {
  height: 100%;
}

body {
  background-color: #343541;
  min-width: 100vw;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-animation {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  /* Adjust the timing above (2s and 40 steps) to control speed of typing */
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

